.App-header {
  background-color: #ccf;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  text-align: left;
}

.App-header h1 {
  margin: 0;
  font-size: 1.5em;
}

.App-header p {
  margin: 0;
  font-size: 0.9em;
}

.header-buttons {
  display: flex;
  gap: 20px;
}

.transactions-button, .balances-button, .analytic-button, .budgets-button, .settings-button, .logout-button {
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 0.9em;
}