body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ccf; /* Новый цвет фона */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.box {
    background-color: #ccf; /* Новый цвет фона */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.box h1 {
    margin: 0;
    font-size: 48px;
}

.box p {
    margin: 10px 0 20px;
    font-size: 18px;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.input-group input {
    width: 100%;
    max-width: 300px; /* Ограничение максимальной ширины полей ввода */
    padding: 10px;
    border: none; /* Убрана обводка */
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавлена тень */
}

.input-group .input-error {
    width: 100%;
    max-width: 300px; /* Ограничение максимальной ширины полей ввода */
    padding: 10px;
    border: none; /* Убрана обводка */
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.2);
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавлена тень */
}


.button {
    width: 100%;
    max-width: 300px; /* Ограничение максимальной ширины кнопки */
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавлена тень */
}

.links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.links a {
    color: #000;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}
